{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "allowImportExportEverywhere": true
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "amd": true,
    "jest": true
  },
  "globals": {},
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": [2, { "ignore": ["jquery", "^gk/", "^ba/vendor/"] }],
    "import/extensions": ["error", "never", { "packages": "never" }],
    "no-underscore-dangle": ["off"],
    "no-param-reassign": ["error", { "props": false }],
    "global-require": 0,
    "max-len": ["error", 120],
    "comma-dangle": ["error", "always-multiline"]
  }
}
